
<script src="~/Scripts/Custom/Builder.js"></script>

<div id="searchBuilder" style="display:none">
    @Html.Partial("Search")
</div>

<div id="addBuilder" style="display:none">
    @Html.Partial("AddBuilder")
</div>
<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                Builder
            </header>
            <div class="panel-body">
                <div class="row">
                   

                   

                    <div class="col-lg-2">
                        <button class="btn btn-primary" id="btnAdvanceSearch" >Search Builder</button>
                    </div>

                    <div class="col-lg-2 pull-right">

                        <input type="button" id="btnAdd" class="btn btn-info" value="Add Builder">
                    </div>

                </div>


                <table class="table table-hover" data-sort-name="BuilderId" data-show-columns="true" data-show-filter="true" data-click-to-select="true"
                       id="grid">
                    <thead>

                    </thead>
                </table>
            </div>
        </section>
    </div>
</div>


<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal fade orderModal">
    <div class="modal-dialog" style="width:80%">
        <div class="modal-content" id="orderModal">




        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal fade OrderItem">
    <div class="modal-dialog" style="width:80%">
        <div class="modal-content" id="orderItemModal">




        </div>
    </div>
</div>


