.field-validation-error{
    color: #a94442;
}


.btnsetting{
    margin-top:10px;
    margin-right:14px;
}

.hide{
    display:none;
}

 .advanceSearch
    {
    display:none;
    }


 .danger-not{
   background-color:  #f2dede;
 }

 .success-not{
   background-color:  #dff0d8;
 }

.ui-autocomplete-loading {
   // background: url('../../Images/load.gif') ;
    background: url('images/load.gif') no-repeat right center;
}

    .ui-autocomplete {
        max-height: 300px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: auto;
        width: 300px;
        /* add padding to account for vertical scrollbar */
        padding-right: 20px;
    }